* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
      transition: box-shadow 0.3s ease;
}

.testclassA:hover {
    box-shadow: 0px 15px 15px rgba(214, 214, 214, 0.51);
}

.containerFluid {
    width: 100%;
}

.blogElements {
    width: 100%;
    margin: 0 auto;
}

.allBlogElements {
    display: grid;
    grid-template-columns: auto auto;
    gap: 18px;
}

/* .allBlogElements li img {width: 540px;height: 280px;} */
.dateandReadMore {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
  
}

h3 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 5px;
    padding: 5px;
   
}

.testclassA {
    /* width: 94%;

    width: 540px;
    margin: 0 auto; */
    margin-bottom: 20px;
   
}

h5 {
    color: #0074D9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

h4{
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

p{
    color: #616161;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 1px;
    padding: 5px;
   
}

.blogContent {
 /* width: 100%; */
    width: 540px;
    margin: 0 auto;
}

.blogContentA {
   padding: 0 10px;
}

.blog1-containerFluid{
    width: 70%;
}

.blog1-containner{
    width: 70%;
}


.blog1-aboutsection{
    display: flex;
    align-items: flex-start;;
    justify-content: center;
}




/* Small mobile devices */
@media only screen and (max-width: 480px) {
    .allBlogElements {
        grid-template-columns: auto;
    }
 
    .blogContent {
       width: 325px;
}
}

/* Medium-sized mobile devices */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .allBlogElements {
        grid-template-columns: auto;
    }
 
    .blogContent {
       width: 350px;
}
}

/* Large mobile devices */
@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .allBlogElements {
        grid-template-columns: auto;
    }
 
    .blogContent {
       width: 540px;
}
}

@media only screen and (min-width: 1051px) and (max-width: 1250px) {
    .allBlogElements {
        grid-template-columns: auto;
    }
 
    .blogContent {
       width: 540px;
}


